PicariaWebApp/.vs/
PicariaWebApp/PicariaWebApp/obj/
PicariaReact/node_modules/.bin/detect-port
PicariaReact/node_modules/
PicariaWebApp/PicariaWebApp/bin/
PicariaWebApp/UnitTests/obj/
PicariaWebApp/UnitTests/bin/
